body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.habit-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.habit-form input {
  flex: 1;
  padding: 0.5rem;
  font-size: 16px;
}

.habit-form button {
  padding: 0.5rem 1rem;
}

.habit-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.habit-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  border-left: 5px solid #999;
  text-align: left;
  transition: 0.2s;
}

.habit-card.done {
  border-color: green;
  background-color: #e6ffe6;
}

.habit-card h3 {
  margin: 0 0 10px 0;
}

.habit-card button {
  margin-right: 10px;
}

.delete-btn {
  background: none;
  color: red;
  border: none;
  cursor: pointer;
}
